Package: com.wrp1002.flashlightsettings
Name: FlashlightSettings
Version: 0.0.2
Architecture: iphoneos-arm
Description: Useful settings for the flashlight!
Maintainer: Wes <wes.hamster@gmail.com>
Author: Wes <wes.hamster@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
